<!DOCTYPE html>
<!--[if lt IE 7]>  <html class='lt-ie7'> <![endif]-->
<!--[if IE 7]>     <html class='lt-ie8'> <![endif]-->
<!--[if IE 8]>     <html class='lt-ie9'> <![endif]-->
<!--[if gt IE 8]><!-->
<html >
<!--<![endif]-->

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Artistarc . SignIn</title>

  <meta name='description' content=''>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>

  <link rel='icon' type='image/png' href='assets/_con/images/logo.png'>

  
    <!-- Style --> 
    <link rel='stylesheet' type='text/css' href='main/css/styler.css' />

    <!-- Semantic UI -->
    <link href="libs/Semantic-UI/dist/semantic.css" rel="stylesheet">

    <!-- FontAwesome -->
    <link rel='stylesheet' type='text/css' href='assets/font-awesome/css/font-awesome.min.css' />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="libs/Semantic-UI/dist/semantic.js"></script>
    <script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'username',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your username'
                },
                {
                  type   : 'text',
                  prompt : 'Please enter a valid username'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            }
          }
        })
      ;
    })
  ;
  </script>
</head>

<body>

<div style="width:100%!important;height:88%!important;">
  <div class="ui middle aligned center aligned grid">
    <div class="column" style="width: 445px;margin-top: 18%;">
        <form action='/auth/login' method='post' >
        <div class="ui one column doubling stackable grid container">
            <div class="ui wide column" style="height:70px;padding-right:0!important">
                <br>
                    <span><i class="user icon ab_icons" style="position: relative;left: -225px;top: 7px;"></i></span>
                    <div class="group right floated" style="margin-bottom:5px!important;width: 100%;">
                      <input type="text" class="ab_in" name='username' style="width:100%!important">
                      <span class="highlight"></span>
                      <span class="bar" style="width:100%!important"></span>
                      <label>Username</label>
                    </div>
            </div>
            
            <div class="ui wide column" style="height:12%!important;padding-right:0!important">
                <br>
                    <span><i class="user icon ab_icons" style="position: relative;left: -225px;top: 7px;"></i></span>
                    <div class="group right floated" style="margin-bottom:5px!important;width: 100%;">
                      <input type="paswword" class="ab_in" name='password' style="width:100%!important">
                      <span class="highlight"></span>
                      <span class="bar" style="width:100%!important"></span>
                      <label>Password</label>
                    </div>
            </div>
            <div class="ui wide column" style="height:12%!important;left: 17px;position: relative;">
                <div class="ui three column grid">
                    <a href="/auth/facebook" class="ui column aligned centre"><i class="facebook icon black"></i></a>
                    <a href="/auth/google" class="ui column aligned centre"><i class="google icon black"></i></a>
                    <a href="" class="ui column aligned centre"><i class="windows icon black"></i></a>
                </div>
            </div>
            <div class="ui wide column" style="height:12%!important;">
                <button class="ui grey basic button" type="submit" style="left: 17px;position: relative;">Login</button>
            </div>
        </div>
        </form>
</div>
</div>
</div>
    
    <div class="ui vertical footer segment">
    <div class="ui center aligned container">
      <!--<div class="ui inverted section divider"></div>-->
      <img src="assets/images/logo.png" class="ui centered mini image">
      <div class="ui horizontal small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" href="#">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>

</body>

</html>