<script>
  $(document)
    .ready(function() {
      /*
      $('.ui.sticky')
      .sticky({
        context: '#example1'
      })
    ;*/
        $('#context2 .menu .item')
          .tab({
            // special keyword works same as above
            context: 'parent'
          })
        ;
      $('.ui.dropdown')
          .dropdown()
        ;
    })
  ;
    
  </script>

<div class="ui inverted vertical wato" style="height:300px!important">
    <div class="ui grid" style="width:100%;height: 300px!important;
                background-image:url(images/gallery/Image05@2x.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position-y: 50%;
                                margin:0;">
        
          <div class="sixteen wide column soci" style="height: 253px; background-color: rgba(0, 0, 0, 0.34);">
           <!--<div class="ui icon input" style="float:right">
                  <input type="text" class="glass" placeholder="Search..." style="color:white">
                  <i class="search icon" style="color:white"></i>
                </div>-->
          </div>
        <!--
          <div class="three wide column" style=" background-color: rgba(0, 0, 0, 0.34);height: 206px;!important">
              <div class="ui header circular image" style="float: right;padding-top: 55px;">
                <img src="images/avatar/large/chris.jpg" class="ui circular image" style="height: auto;width: 114px;    border-radius: 500rem!important;"></img>
              </div>
          </div>
          <div class="thirteen wide column" style=" background-color: rgba(0, 0, 0, 0.34);height: 206px;!important">
              <div class="ui" style="padding-top: 95px;font-color:white">
                <div class="ui" style="color:white!important">
                    <span style="font-size:21px">
                        Karan Jeet
                    </span>
                </div>
                <div class="ui" style="color:white!important">
                  <i class="material-icons" style="font-size:18px">location_on</i>
                    <span style="font-size:17px">
                        dadads
                    </span>
                </div>
                <div class="ui" style="color:white!important">
                    <span>
                        &nbsp;
                        <i class="fa fa-facebook-official"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-instagram"></i>
                    </span>
                </div>
              </div>
          </div>
        -->    
          <div class="sixteen wide column soci" style="height: 47px; background-color: rgba(0, 0, 0, 0.34);">

              <div class="ui grid" style="font-size:18px;color:white!important;">
                  <div class="two wide column">
                    <p></p>
                  </div>
                  <div class="four wide column">
                    <p><i class="material-icons">person_add</i>
                        <span style="font-size:17px;position: absolute;margin-left: 10px;">
                            
                        </span>    
                    </p>
                  </div>
                  <div class="four wide column">
                    <p><i class="material-icons">share</i>
                        <span style="font-size:17px;position: absolute;margin-left: 10px;">
                            
                        </span>    
                      </p>
                  </div>
                  <div class="three wide column">
                    <p><i class="material-icons">photo_album</i>
                        <span style="font-size:17px;position: absolute;margin-left: 10px;">
                            
                        </span>    
                      </p>
                  </div>
                  <div class="three wide column" style="bottom: -10px;">
                      <button class="ui circular facebook icon button">
                            <div class="ui compact dropdown">
                            <div class="ui simple dropdown item">
                              <i class="facebook icon prof-btn "></i>
                              <div class="menu">
                                <div class="header">Adjust time span</div>
                                <div class="active item" data-text="today">Today</div>
                                <div class="item" data-text="this week">This Week</div>
                                <div class="item" data-text="this month">This Month</div>
                              </div>
                            </div>
                            </div>
                        </button><!--
                        <button class="ui circular twitter icon button">
                          <i class="twitter icon"></i>
                        </button>
                        <button class="ui circular linkedin icon button">
                          <i class="linkedin icon"></i>
                        </button>
                        <button class="ui circular google plus icon button">
                          <i class="google plus icon"></i>
                        </button>-->
                  </div>
              </div>
          </div>
        
    </div>
</div>

<div class="ui vertical " style="height:900px!important;margin: 13px;margin-top:-53px">
    
    <div class="ui two column doubling stackable grid container" style="margin-left:0!importnt;margin-right:0!importnt;">
      <div class="ui four wide column">
        <div class="ui card" style="width:100%!important">
            <div class="image">
              <img src="/images/avatar2/large/matthew.png">
            </div>
            <div class="content">
                <div class="ui text grid">
                    <div class="ui  center aligned  six wide column" >
                        <p><i class="material-icons" style="font-size: 21px;">person_add</i>
                            <span  style="font-size:17px;position: absolute;margin-left: 10px;">
                            {{usertroupe.meta.likes.length}}
                            </span>
                        </p>
                    </div>
                    <div class="ui  center aligned  four wide column" >
                        <p><i class="material-icons" style="font-size: 21px;">share</i>
                            <span  style="font-size:17px;position: absolute;margin-left: 10px;">
                            {{usertroupe.meta.comment.length}}
                            </span>
                        </p>
                    </div>
                    <div class="ui  center aligned  four wide column" >
                        <p><i class="material-icons" style="font-size: 21px;">photo_album</i>
                            <span  style="font-size:17px;position: absolute;margin-left: 10px;">
                            {{userproject.meta.followers.length}}
                            </span>
                        </p>
                    </div>
                    <div class="ui  center aligned  two wide column" >
                   </div>
                </div>
                <div class="ui divider" style="margin-top:2px!important"></div>
                <div class="header">{{usertroupe.name}}</div>
                <div class="meta">
                <a>Friends</a>
              </div>
                <div class="description">
                {{usertroupe.about}}
                  <div class="ui blue labels">
                      <a class="ui label">
                        Fun <i class="icon close"></i>
                      </a>
                      <a class="ui label">
                        Happy
                        <div class="detail">22</div>
                      </a>
                      <a class="ui label">
                        Smart
                      </a>
                      <a class="ui label">
                        Insane
                      </a>
                      <a class="ui label">
                        Exciting
                      </a>
                    </div>
              </div>
            </div>
            <div class="extra content">
              <span class="right floated">
                Joined in 2013
              </span>
              <span>
                <i class="user icon"></i>
                75 Friends
              </span>
            </div>
        </div>
        <div class="ui card" style="width:100%!important">
         
      </div>
      </div>
      <div class="ui twelve wide column">
        <div class="ui card" style="width:100%!important">
     
            <div id="context2">
              <div class="ui pointing secondary menu" style="margin-bottom:0 !important">
                <a class="item active" data-tab="activity">Activity</a>
                <a class="item" data-tab="about">About</a>
                <a class="item" data-tab="members">Members</a>
                <a class="item" data-tab="timeline">Timeline</a>
                <a class="item" data-tab="gallery">Gallery</a>
                <a class="item" data-tab="projects">Projects</a>
                <a class="item" data-tab="admin">Admin</a>
              </div>
              <div class="ui tab segment" data-tab="gallery" style="margin-bottom: 0;margin-top: 0;border: 0;">
                <div class="ui four stackable cards">
                  <div class="card">
                    <div class="image">
                      <img class="ui wireframe image" src="/images/wireframe/image.png">
                    </div>
                    <div class="extra">
                      Rating:
                      <div class="ui star rating" data-rating="4"></div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="image">
                      <img class="ui wireframe image" src="/images/wireframe/image.png">
                    </div>
                    <div class="extra">
                      Rating:
                      <div class="ui star rating" data-rating="2"></div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="image">
                      <img class="ui wireframe image" src="/images/wireframe/image.png">
                    </div>
                    <div class="extra">
                      Rating:
                      <div class="ui star rating" data-rating="3"></div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="image">
                      <img class="ui wireframe image" src="/images/wireframe/image.png">
                    </div>
                    <div class="extra">
                      Rating:
                      <div class="ui star rating" data-rating="4"></div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="image">
                      <img class="ui wireframe image" src="/images/wireframe/image.png">
                    </div>
                    <div class="extra">
                      Rating:
                      <div class="ui star rating" data-rating="3"></div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="image">
                      <img class="ui wireframe image" src="/images/wireframe/image.png">
                    </div>
                    <div class="extra">
                      Rating:
                      <div class="ui star rating" data-rating="3"></div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="image">
                      <img class="ui wireframe image" src="/images/wireframe/image.png">
                    </div>
                    <div class="extra">
                      Rating:
                      <div class="ui star rating" data-rating="4"></div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="image">
                      <img class="ui wireframe image" src="/images/wireframe/image.png">
                    </div>
                    <div class="extra">
                      Rating:
                      <div class="ui star rating" data-rating="4"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ui active tab segment" data-tab="activity" style="margin-bottom: 0;margin-top: 0;border: 0;">
                <div class="ui feed" style="margin-top: 8px;">
                  <div class="event">
                    <div class="label img-conct">
                      <img src="/images/avatar/small/elliot.jpg" class="img-actv">
                    </div>
                    <div class="content">
                      <div class="summary">
                        <a class="user">
                          Elliot Fu
                        </a> added you as a friend
                        <div class="date">
                          1 Hour Ago
                        </div>
                      </div>
                      <div class="meta">
                        <a class="like">
                          <i class="like icon"></i> 4 Likes
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="event">
                    <div class="label img-conct">
                      <img src="/images/avatar/small/helen.jpg" class="img-actv">
                    </div>
                    <div class="content">
                      <div class="summary">
                        <a>Helen Troy</a> added <a>2 new illustrations</a>
                        <div class="date">
                          4 days ago
                        </div>
                      </div>
                      <div class="extra images">
                        <a><img src="/images/wireframe/image.png"></a>
                        <a><img src="/images/wireframe/image.png"></a>
                      </div>
                      <div class="meta">
                        <a class="like">
                          <i class="like icon"></i> 1 Like
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="event">
                    <div class="label img-conct">
                      <img src="/images/avatar/small/jenny.jpg" class="img-actv">
                    </div>
                    <div class="content">
                      <div class="summary">
                        <a class="user">
                          Jenny Hess
                        </a> added you as a friend
                        <div class="date">
                          2 Days Ago
                        </div>
                      </div>
                      <div class="meta">
                        <a class="like">
                          <i class="like icon"></i> 8 Likes
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="event">
                    <div class="label img-conct">
                      <img src="/images/avatar/small/joe.jpg" class="img-actv">
                    </div>
                    <div class="content">
                      <div class="summary">
                        <a>Joe Henderson</a> posted on his page
                        <div class="date">
                          3 days ago
                        </div>
                      </div>
                      <div class="extra text">
                        Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
                      </div>
                      <div class="meta">
                        <a class="like">
                          <i class="like icon"></i> 5 Likes
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="event">
                    <div class="label img-conct">
                      <img src="/images/avatar/small/justen.jpg" class="img-actv">
                    </div>
                    <div class="content">
                      <div class="summary">
                        <a>Justen Kitsune</a> added <a>2 new photos</a> of you
                        <div class="date">
                          4 days ago
                        </div>
                      </div>
                      <div class="extra images">
                        <a><img src="/images/wireframe/image.png"></a>
                        <a><img src="/images/wireframe/image.png"></a>
                      </div>
                      <div class="meta">
                        <a class="like">
                          <i class="like icon"></i> 41 Likes
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ui tab segment" data-tab="projects" style="margin-bottom: 0;margin-top: 0;border: 0;">
                  <h4 class="ui horizontal divider header">
                    <i class="tag icon"></i>
                     Projects
                  </h4>
                <div class="ui four stackable cards">
                    <div class="ui card">
                      <div class="content">
                        <i class="right floated star icon"></i>
                        <div class="header">Cute Dog</div>
                            <div class="meta">
                              <span>2 days ago</span>
                            </div>
                        <div class="description">
                          <p></p>
                        </div>
                      </div>
                      <div class="extra content">
                        <span class="left floated like">
                          <i class="like icon"></i>
                          Like
                        </span>
                        <span class="right floated star">
                          <i class="star icon"></i>
                          Favorite
                        </span>
                      </div>
                    </div>
                    <div class="ui card">
                      <div class="content">
                        <i class="right floated star icon"></i>
                        <div class="header">Cute Dog</div>
                            <div class="meta">
                              <span>2 days ago</span>
                            </div>
                        <div class="description">
                          <p></p>
                        </div>
                      </div>
                      <div class="extra content">
                        <span class="left floated like">
                          <i class="like icon"></i>
                          Like
                        </span>
                        <span class="right floated star">
                          <i class="star icon"></i>
                          Favorite
                        </span>
                      </div>
                    </div>
                    <div class="ui card">
                      <div class="content">
                        <i class="right floated star icon"></i>
                        <div class="header">Cute Dog</div>
                            <div class="meta">
                              <span>2 days ago</span>
                            </div>
                        <div class="description">
                          <p></p>
                        </div>
                      </div>
                      <div class="extra content">
                        <span class="left floated like">
                          <i class="like icon"></i>
                          Like
                        </span>
                        <span class="right floated star">
                          <i class="star icon"></i>
                          Favorite
                        </span>
                      </div>
                    </div>
                    <div class="ui card">
                      <div class="content">
                        <i class="right floated star icon"></i>
                        <div class="header">Cute Dog</div>
                            <div class="meta">
                              <span>2 days ago</span>
                            </div>
                        <div class="description">
                          <p></p>
                        </div>
                      </div>
                      <div class="extra content">
                        <span class="left floated like">
                          <i class="like icon"></i>
                          Like
                        </span>
                        <span class="right floated star">
                          <i class="star icon"></i>
                          Favorite
                        </span>
                      </div>
                    </div>
              </div>
                  
                  <h4 class="ui horizontal divider header">
                    <i class="photo icon"></i>
                     Gallery
                  </h4>
                <div class="ui four stackable cards">
                  <div class="card">
                    <div class="image">
                      <img class="ui wireframe image" src="/images/wireframe/image.png">
                    </div>
                    <div class="extra">
                      Rating:
                      <div class="ui star rating" data-rating="4"></div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="image">
                      <img class="ui wireframe image" src="/images/wireframe/image.png">
                    </div>
                    <div class="extra">
                      Rating:
                      <div class="ui star rating" data-rating="2"></div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="image">
                      <img class="ui wireframe image" src="/images/wireframe/image.png">
                    </div>
                    <div class="extra">
                      Rating:
                      <div class="ui star rating" data-rating="3"></div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="image">
                      <img class="ui wireframe image" src="/images/wireframe/image.png">
                    </div>
                    <div class="extra">
                      Rating:
                      <div class="ui star rating" data-rating="4"></div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="image">
                      <img class="ui wireframe image" src="/images/wireframe/image.png">
                    </div>
                    <div class="extra">
                      Rating:
                      <div class="ui star rating" data-rating="3"></div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="image">
                      <img class="ui wireframe image" src="/images/wireframe/image.png">
                    </div>
                    <div class="extra">
                      Rating:
                      <div class="ui star rating" data-rating="3"></div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="image">
                      <img class="ui wireframe image" src="/images/wireframe/image.png">
                    </div>
                    <div class="extra">
                      Rating:
                      <div class="ui star rating" data-rating="4"></div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="image">
                      <img class="ui wireframe image" src="/images/wireframe/image.png">
                    </div>
                    <div class="extra">
                      Rating:
                      <div class="ui star rating" data-rating="4"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ui tab segment" data-tab="admin" style="margin-bottom: 0;margin-top: 0;border: 0;">
                <div class="ui horizontal list">
                  <div class="item">
                    <img class="ui mini circular image" src="/images/avatar2/small/molly.png">
                    <div class="content">
                      <div class="ui sub header">Molly</div>
                      Coordinator
                    </div>
                  </div>
                  <div class="item">
                    <img class="ui mini circular image" src="/images/avatar2/small/elyse.png">
                    <div class="content">
                      <div class="ui sub header">Elyse</div>
                      Developer
                    </div>
                  </div>
                  <div class="item">
                    <img src="/images/avatar2/small/eve.png" class="ui mini circular image">
                    <div class="content">
                      <div class="ui sub header">Eve</div>
                      Project Manager
                    </div>
                  </div>
                </div>
              </div>
              <div class="ui tab segment" data-tab="about" style="margin-bottom: 0;margin-top: 0;border: 0;">
                  <div class="ui two column doubling stackable grid container">
                        <div class="ui eight wide column" style="height:70px">
                            <form><br>
                                <span><i class="user icon ab_icons"></i></span>
                                <div class="group right floated" style="margin-bottom:5px!important;width: 91%;">
                                  <input type="text" class="ab_in" ng-model="varTroupe.name" style="width:100%!important" placeholder="{{usertroupe.name}}">
                                  <span class="highlight"></span>
                                  <span class="bar" style="width:100%!important"></span>
                                  <label>Name</label>
                                </div>
                            </form>
                        </div>
                        <div class="ui eight wide column" style="height:70px">
                            <form><br>
                                <span><i class="announcement  icon ab_icons"></i></span>
                                <div class="group right floated" style="margin-bottom:5px!important;width: 91%;">      
                                  <input type="text" class="ab_in" ng-model="varTroupe.username" style="width:100%!important" placeholder="{{usertroupe.username}}">
                                  <span class="highlight"></span>
                                  <span class="bar" style="width:100%!important"></span>
                                  <label>Username</label>
                                </div>
                            </form>
                        </div>
                        <div class="ui eight wide column" style="height:70px">
                            <form><br>
                                <span><i class="mail icon ab_icons"></i></span>
                                <div class="group right floated" style="width: 91%;">      
                                      <input type="text" class="ab_in" style="width:100%!important" placeholder="{{usertroupe.local.author_username}}">
                                      <span class="highlight"></span>
                                      <span class="bar" style="width:100%!important"></span>
                                      <label>Admin</label>
                                </div>
                            </form>
                        </div>
                        <div class="ui eight wide column" style="height:70px">
                            <form><br>
                                <span><i class="birthday icon ab_icons"></i></span>
                                <div class="group right floated" style="margin-bottom:5px!important;width: 91%;">      
                                  <input type="text" class="ab_in" ng-model="varTroupe.website" style="width:100%!important" placeholder="{{usertroupe.website}}">
                                  <span class="highlight"></span>
                                  <span class="bar" style="width:100%!important"></span>
                                  <label>Website</label>
                                </div>
                            </form>
                        </div>
                        <div class="ui eight wide column" style="height:70px">
                            <form><br>
                                <span><i class="quote left icon ab_icons"></i></span>
                                <div class="group right floated" style="margin-bottom:5px!important;width: 91%;">      
                                      <input type="text" class="ab_in" ng-model="varTroupe.about" style="width:100%!important" placeholder="{{usertroupe.about}}">
                                      <span class="highlight"></span>
                                      <span class="bar" style="width:100%!important"></span>
                                      <label>About</label>
                                </div>
                            </form>
                        </div>
                        <div class="ui eight wide column" style="height:70px">
                            <form><br>
                                <span><i class="tag icon ab_icons"></i></span>
                                <div class="group right floated" style="margin-bottom:5px!important;width: 91%;">      
                                      <input type="text" class="ab_in" ng-model="varTroupe.tags" style="width:100%!important" placeholder="{{usertroupe.tags}}">
                                      <span class="highlight"></span>
                                      <span class="bar" style="width:100%!important"></span>
                                      <label>Tags</label>
                                </div>
                            </form>
                        </div>
                        <div class="ui eight wide column" style="height:70px">
                            <form><br>
                                <span><i class="tag icon ab_icons"></i></span>
                                <div class="group right floated" style="margin-bottom:5px!important;width: 91%;">      
                                      <input type="text" class="ab_in" ng-model="varTroupe.location" style="width:100%!important" placeholder="{{usertroupe.location}}">
                                      <span class="highlight"></span>
                                      <span class="bar" style="width:100%!important"></span>
                                      <label>Location</label>
                                </div>
                            </form>
                        </div>
                        <div class="ui eight wide column" style="height:70px">
                            <form><br>
                                <span><i class="tag icon ab_icons"></i></span>
                                <div class="group right floated" style="margin-bottom:5px!important;width: 91%;">      
                                      <input type="text" class="ab_in" ng-model="varTroupe.email" style="width:100%!important" placeholder="{{usertroupe.email}}">
                                      <span class="highlight"></span>
                                      <span class="bar" style="width:100%!important"></span>
                                      <label>Email</label>
                                </div>
                            </form>
                        </div>
                      
                      <div class="ui sixteen wide column" style="height:70px">
                          <p class="right floated">
                            <button class="ui primary button" type="submit" ng-click="updateTinfo()">Save</button>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="ui tab segment" data-tab="members" style="margin-bottom: 0;margin-top: 0;border: 0;">
                Members
                  <div class="ui six doubling cards">
                      <div class="card">
                        <div class="image">
                          <img src="/images/avatar/large/elliot.jpg">
                        </div>
                      </div>
                      <div class="card">
                        <div class="image">
                          <img src="/images/avatar/large/helen.jpg">
                        </div>
                      </div>
                      <div class="card">
                        <div class="image">
                          <img src="/images/avatar/large/jenny.jpg">
                        </div>
                      </div>
                      <div class="card">
                        <div class="image">
                          <img src="/images/avatar/large/veronika.jpg">
                        </div>
                      </div>
                      <div class="card">
                        <div class="image">
                          <img src="/images/avatar/large/stevie.jpg">
                        </div>
                      </div>
                      <div class="card">
                        <div class="image">
                          <img src="/images/avatar/large/steve.jpg">
                        </div>
                      </div>
                      
                    <p class="ui right floated" style="width:98% !important;">
                        
                    <button class="ui basic button" style="float:right;padding:9px;margin-bottom:8px!important;margin-right:-7px!important;">
                          
                        <a href="" class="item" ng-controller="searchTMemberCtrl">
                            <div class="ui inline dropdown">
                                <div class="text">
                                  <i class="icon user"></i>
                                  Add Memeber
                                </div>
                                <div class="menu" style="width:50px!important;left: -25px;top: -13px;">
                                    
                                  <div class="ui left icon input">
                                    <i class="search icon"></i>
                                    <input type="text" name="search" ng-Keypress="searchMembr(formSearchM.searchqrry)" ng-model="formSearchM.searchqrry" placeholder="Search..." style="width:50px">
                                  </div>

                                  <div class="item" style="margin:9px" ng-show="formSearchM.searchqrry" >
                                    Searching " {{formSearchM.searchqrry}} "
                                  </div>
                                  <div class="" style="margin:9px" ng-repeat="sUser in searchUser">
                                      <div class="ui two cloumn grid wide membr-dd">
                                        <div class=" twelve wide column ">
                                            <img class="ui avatar image" src="/images/avatar/small/elliot.jpg">
                                                      {{sUser.fname}}
                                                    <div class="usrnm">
                                                      {{sUser.local.username}}{{$index}}
                                                    </div>
                                        </div>
                                        <div class=" two wide column "> 
                                            <br><i class="fa fa-plus pointer" ng-click="addMembr($index)" style="float:right!important"></i></div>
                                      </div>
                                  </div>
                                    
                                  <div class="divider"></div>
                                    
                                  <div class="" style="margin:9px">
                                    <img class="ui avatar image" src="/images/avatar/small/elliot.jpg">
                                    Elliot Fu
                                  </div>
                                  <div class="" style="margin:9px">
                                    <img class="ui avatar image" src="/images/avatar/small/stevie.jpg">
                                    Stevie Feliciano
                                  </div>
                                  <div class="" style="margin:9px">
                                    <img class="ui avatar image" src="/images/avatar/small/christian.jpg">
                                    Christian
                                  </div>
                                  <div class="" style="margin:9px">
                                    <img class="ui avatar image" src="/images/avatar/small/matt.jpg">
                                    Matt
                                  </div>
                                </div>
                              </div>
                        </a>

                    </button>
                        
                    </p>
                    </div>
              </div>
              <div class="ui tab segment" data-tab="timeline" style="margin-bottom: 0;margin-top: 0;border: 0;">
                Timeline
              </div>
            </div>

        </div>
      </div>
    </div>
    
<div class="ui link cards">
    
  
</div>
</div>
